[Desktop Entry]
Name=Language Pack Inspector
Name[sv]=Inspektera språkpaket
Comment=Inspect language pack contents and coverage
Exec=langpack-inspector
Icon=se.danielnylander.langpack-inspector
Terminal=false
Type=Application
Categories=Development;Translation;
Keywords=translation;l10n;langpack;inspector;
